*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

html,
body,
#root {
  height: 100%;
  color: #fff;
}

button {
  padding: 10px 25px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  color: #888;
}

.App {
  text-align: center;
  background-image: url(https://us.123rf.com/450wm/simoniya/simoniya1809/simoniya180900017/109674444-blue-sky-with-white-clouds-background-flat-vector-illustration-with-place-for-text-concept-design.jpg?ver=6);
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

